.header__link {
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: margin-left linear 2s;
  -o-transition: margin-left linear 2s;
  transition: margin-left linear 2s;
}

.header__link:hover {
  opacity: 0.5;
  margin-left: 5px;
}
